h2 {
  background-color: #0074b9;
  color: white;
  padding: 10px;
  margin-top: 0;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[disabled] {
  background-color: #eee;
}

input[readonly] {
  background-color: #f2f2f2;
}
